<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\juan-\Documents\GIT proyecto\ProyectoClio\Proyecto Clio v1.2\Clio 1.2 EXE\Java\ProyectoClio_v1_2.jar</jar>
  <outfile>C:\Users\juan-\Documents\GIT proyecto\ProyectoClio\Proyecto Clio v1.2\Clio 1.2 EXE\Ejecutable\clio.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\juan-\Documents\GIT proyecto\ProyectoClio\Proyecto Clio v1.2\Clio 1.2 EXE\Icono\clioLogo.ico</icon>
  <jre>
    <path>C:\Program Files\Java\jre1.8.0_111</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>